<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="directory"
		label="COM_JGALLERY_CONFIG_DIRECTORY_SETTINGS_LABEL"
		description="COM_JGALLERY_CONFIG_DIRECTORY_SETTINGS_DESC">
		<field
				name="show_category"
				type="radio"
				label="COM_JGALLERY_JGALLERY_FIELD_SHOW_CATEGORY_LABEL"
				description="COM_JGALLERY_JGALLERY_FIELD_SHOW_CATEGORY_DESC"
				default="0"	>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="rootdir" 
				type="folderlist" 
				default="." 
				label="Select a root folder" 
				directory="images" 
				filter="" 
				exclude=""
                recursive="true"
				stripext="" />
		<field name="thumb_small_format" 
				type="text" 
				default="/thumbs/phoca_thumb_s_%s" 
				label="format of small thumb image" 
				size="32" />
		<field name="thumb_large_format" 
				type="text" 
				default="/thumbs/phoca_thumb_l_%s" 
				label="format of large thumb image" 
				size="32" />
		<field name="thumb_small_width" 
				type="int" 
				default="80" 
				label="width of of small thumb image" 
				size="6" />	
		<field name="thumb_small_height" 
				type="int" 
				default="80" 
				label="height of of small thumb image" 
				size="6" />	
		<field name="thumb_large_width" 
				type="int" 
				default="2560" 
				label="width of of large thumb image" 
				size="6" />	
		<field name="thumb_large_height" 
				type="int" 
				default="1920" 
				label="height of of large thumb image" 
				size="6" />	
		<field name="thumb_quality" 
				type="integer" 
				default="90" 
				first="50"
				last="100"
				step="1"
				rows="1"
				label="quality of thumb image" 
				size="3" />	
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
	<field
		name="rules"
		type="rules"
		label="JCONFIG_PERMISSIONS_LABEL"
		class="inputbox"
		validate="rules"
		filter="rules"
		component="com_jgallery"
		section="component"/>
	</fieldset>
</config>
